Repository anasyoussef00/klania: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
  "*.vue": ["prettier --write", "eslint"],
  "*.ts": ["prettier --write", "eslint"],
  "*.js": ["prettier --write", "eslint"],
  "*.html": ["prettier --write", "eslint"],
  "*.css": "prettier --write"
}

added pinia and some liniting rules for typescript
  .eslintrc.cjs
  bun.lockb
  package.json
  src/main.ts
  tsconfig.json
  vite.config.ts
Due: prettier --write, eslint

added json and cjs files to .lintstagedrc.json
  .lintstagedrc.json
Due: none

added tailwindcss
  bun.lockb
  package.json
  postcss.config.js
  src/components/GreetComponent.vue
  src/main.ts
  src/styles.css
  src/tailwind.css
  tailwind.config.ts
Due: prettier --write, eslint

added tailwindcss plugin to eslint and prettier
  .eslintrc.cjs
  .prettierrc
  bun.lockb
  package.json
  src/components/GreetComponent.vue
Due: prettier --write, eslint

implemented basic db connection
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/db/mod.rs
  src-tauri/src/klania_state/mod.rs
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
Due: none

implemented basic songs (no metadata)
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/migrations/20231014164352_songs.down.sql
  src-tauri/migrations/20231014164352_songs.up.sql
  src-tauri/src/db/mod.rs
  src-tauri/src/entities/mod.rs
  src-tauri/src/entities/song.rs
  src-tauri/src/main.rs
  src-tauri/src/managers/mod.rs
  src-tauri/src/managers/song_manager.rs
  src-tauri/src/menu/file/mod.rs
  src-tauri/src/menu/file/open_file.rs
  src-tauri/src/menu/mod.rs
  src-tauri/src/services/mod.rs
  src-tauri/src/services/song_service.rs
  src/styles.css
Due: prettier --write
